@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --height-header: 60px;
  --height-footer: 90px;
  --color-primary: #21c4f8;
  --color-footer: #00adfd;
  --height-wrapper: calc(100vh - var(--height-header) - var(--height-footer));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
}

.header__menu {
    display: none;
}

.header__logo {
  max-width: 1440px;
  height: var(--height-header);
  margin: 0 auto;
  color: black;
  font-size: 1.2em;
  font-weight: 700;
  padding-left: 1em;
  display: flex;
  align-items: center;
}

.header__logo a {
  color: black;
  text-decoration: none;
}

.main {
  height: calc(100vh - var(--height-footer));
  min-height: 42em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.form__wrapper {
  background-color: var(--color-primary);
  border-radius: 1.5em;
  width: 30em;
  height: 35em;
  padding-top: 0.5em;
}

.form__title {
  margin: 0.8em 0;
  color: white;
  font-size: 2.2em;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7em;
}

.btn {
  width: 18em;
  height: 2.5em;
  margin: 0 auto;
  border-radius: 0.6em;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.google {
  background-color: #4286f4;
}

.facebook {
  background-color: #4267b2;
}

.icon__sign {
  width: 1.6em;
  height: 1.6em;
  background-color: white;
  padding: 0.1em;
  border-radius: 0.15em;
  position: absolute;
  left: 0.6em;
  text-align: center;
}

.form__text {
  color: white;
  font-size: 1em;
}

.form p {
  margin: 0.5em 0;
}

.form__input {
  width: 23em;
  height: 3em;
  border-radius: 1.5em;
  outline: none;
  border: none;
  padding-left: 1em;
}

.btn-submit {
  width: 18em;
  height: 2.5em;
  border: none;
  outline: none;
  border-radius: 1.5em;
  background-color: #f65875;
  color: white;
  font-weight: 600;
  margin-top: 1.5em;
  cursor: pointer;
  font-size: 1.1em;
}

.form__links {
  margin-top: 1em;
  width: 24em;
  font-size: 0.8em;
  text-align: center;
  font-weight: 300;
}

.links__top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.form__links a {
  text-decoration: none;
  color: white;
}

.footer__wrapper {
  height: var(--height-footer);
  background-color: var(--color-footer);
}

.footer {
  max-width: 1440px;
  transform: translate(0, calc( var(--height-footer) / 2 - 50%));
  padding: 0 1em;
  margin: 0 auto;
  color: white;
}


.footer__top {
    display: flex;
}

.footer__title {
  flex: 1;
}

.footer__links {
  flex: 3;
}

.footer__ul {
  display: flex;
  justify-content: center;
  gap: 3em;
  list-style: none;
  font-size: 0.8em;
  font-weight: 400;
}

.footer__li {
    cursor: pointer;
}

.footer__redes {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.footer__redes img {
    cursor: pointer;
}

.footer__bottom {
    margin-top: 2em;
    text-align: center;
    font-size: 0.7em;
    font-weight: 100;
}


@media screen and (max-width: 768px) {
  .wrapper {
    align-items: center;
  }

  .footer__wrapper {
    height: 25em;
    display: flex;
    align-items: center;
  }

  .footer {
    transform: translate(0,0);
    width: 100%;
    padding: 0;
  }

  .footer__top {
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin-bottom: 3em;
  }

  .footer__links {
    width: 100%;
  }

  .footer__ul {
    justify-content: space-around;
    font-size: 1em;
    gap: 0;
  }

  .footer__redes {
      width: 100%;
      padding: 0 1em;
      justify-content: space-around;
  }
}

@media screen and (max-width: 426px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: var(--color-primary);
    }

    .header {
        display: flex;
        align-items: center;
        color: white;
        
    }

    .header__menu { 
        display: inline;
        position: absolute;
        left: 1em;
    }

    .header__logo {
        color: white;
        font-size: 2em;
        font-weight: 400;
        padding: 0;
    }

    .footer__wrapper {
      background: white;
    }

    .footer {
      color: black;
    }
    
}