
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    max-width: 1440px;
}

/* CABECERA */

.header {
    max-width: 1440px;
    height: 89px;
    display: flex;
    background-color:  #00ADFD;
    align-items: center;
    justify-content: space-around;
}
.navegacion {
    display: flex;
    gap: 2em;
}
.line {
    width: 1px;
    background-color: #C4C4C4;
}

/* LISTA DE NAVEGACIÓN */

.header_list {
    display: flex;
    gap: 2.5em;
    list-style: none;
}
.list_link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1em;
}

/* BOTONES REGISTER Y LOGIN */

.header_btn button{
    width: 135px;
    height: 35px;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}

.header_button1 {
    background-color: #00ADFD ;
    color: #ffffff;
}
.header_button2 {
    background-color: #ffffff;
    color: #00ADFD;
}
main{
    max-width: 1440px;

}

.section1 {
    max-width: 1440px;

    display: flex;
     background-image: url("./img/background.png");
   /* background-repeat: no-repeat;
    background-size: contain; */
    flex-wrap: wrap;    
    justify-content: space-around;
}

.columna1{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px 30px;
    gap: 2em;
}
.info_subtitulo {
    text-align: left;
    width: 600px;
    font-weight: 900;
    font-size: 45px;
    color: #ffffff;
}
.info_parrafo {
    text-align: left;
    font-weight: 300;
    color: #ffffff;

}
.info_button {
    border-radius: 1em;
    background-color: #ffffff;
    width: 200px;
    padding: 8px;
    font-size: 700;
    color: #00ADFD;
    cursor: pointer;
}
.columna2 {
    min-width: 50%;
}
.img__banner {
width: 50%;
}