
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color_principal: #00ADFD;
    --color_secundario: rgba(246, 88, 117, 0.66);
    --width: 1920px;
    --color_shadow: rgba(0, 173, 253, 0.58) 
 }

 button {
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
 }

 main {
    max-width: var(--width);
    height: calc(100vh - 85px);
}
 
.cabecera{
    max-width: var(--width);
    height: 85px;
    background-color: var(--color_principal);
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-left: 65px;
}

.cabecera_2{    
    display: flex;
    align-items: center;
    gap: 80px;
    margin-right: 90px;
}

.navegador {
    display: flex;
    gap: 35px;
}

.cabecera_lista {
    list-style: none;
}

.cabecera_link {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

.cabecera_link:hover {
    cursor: pointer;
    border-bottom: 2px solid #ffffff ;
}

.cabecera_btn button {
    width: 135px;
    font-weight: 700;
    border-radius: 15px;
}
.cabecera_btn button:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.1);
}
.btn1 {
    color: #ffffff;
    background-color: var(--color_principal);
    background-color: transparent;
}

.btn2 {
    background-color: #ffffff;
    color: var(--color_principal);
}


.section_1 {
    max-width: 100%;
    display: flex;
    align-items: center;
    background-image: url('./img/background.png');
    background-size: cover;
    background-position: 25% 100%;
    padding: 0px 110px;
    height: 500px;
}
.columna_1 {
    width: 50%;
    padding: 25px;
}

.info_subtitulo {
    font-weight: 900;
    margin-bottom: 45px;
    color: #ffffff;
}
.info_parrafo {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 25px;
}
.info_btn {
    border-radius: 25px;
    background-color: #ffffff;
    color: var(--color_principal);
    font-size: 16px;
    width: 160px;
    margin-top: 15px;
    font-weight: 700;
}

.columna_2{
    width: 50%;
    text-align: center;
}
.imagen img {
    max-width: 60%;
}

.section_2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio_subtitulo {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.servicios_iconos {
    display: flex;
    align-items: center;
    gap: 58px;
    margin-top: 30px;
    flex-wrap: wrap;
    text-align: center;
}
.icono {
    border-radius: 50%;
    background-color: var(--color_secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
}
.icono:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.contenedor_icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.icono img {
    color: black;
    width: 48px;
    height: 48px;
}

.info_servicios {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    padding: 0px 150px;
}
.img_info {
    width: 50%;
    text-align: center;
}
.img_info img{
    width: 40%;

}

.info_individual {
    width: 50%;
}

.info_name {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}
.info_parrafo2 {
    font-weight: 300;
    font-size: 15px;
    width: 80%;
    margin-bottom: 25px;
}
.btn_services {
    border-radius: 25px;
    padding: 9px;
    width: 155px;
    background-color: #F65875;
    color: #ffffff;
    font-weight: 700;
}
.btn_services:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.1);
}

.section_3 {
    margin-top: 80px;
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
}
.conocenos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conocenos p {
    margin-top: 20px;
    width: 45%;
    margin-bottom: 25px;
}

.veterinarios {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}
.veterinario {
    text-align: center;
    width: 250px;
}
.veterinario_img {
    height: 100px;
    margin-bottom: 18px;
}
.veterinario_img img {
    width: 40%;
}
.veterinario h4 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
}

.section_4 {
    margin-top: 150px;
    display: flex;
    padding: 0 125px;
}

.descripcion h3 {
    font-weight: 700;
    font-size: 25px;
}
.descripcion p {
    width: 75%;
    margin-top: 15px;
}
.card_testimonio img {
    width: 130px;
    height: 130px;
 position: absolute;
 left: 39%;
 bottom: 68%;
}
.card_testimonio {
    text-align: center;
    padding: 80px 80px 10px 80px;
    width: 90%;
    position: relative;
    height: 100%;
    border-radius:  1em;
    box-shadow: 0px 0px 10px 1px rgba(0, 173, 253, 0.58);
}

.section_5 {
    margin-top: 200px;
    text-align: center;
    width: 100%;
    background-image: url("./img/background\ footer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 40% 80%;
    
}

.opcion_contacto {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}
.opcion {
    transition: all 0.3s ease-in-out;
}
.opcion:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.contacto_contenido {
    width: 100%;
}
.contacto_contenido iframe {
    width: 80%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 173, 253, 0.66);
}

.footer {
    margin-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    background-color: var(--color_principal);
    height: auto;;
}
.footer_list {
    display: flex;
    list-style: none;
    gap: 85px;
}

.footer_link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.footer_link:hover{ 
    cursor: pointer;
    transform: scale(1.1);
    border-bottom: 3px solid #ffffff;

}
.footer_redes {
    display: flex;
    gap: 30px;
}
.footer_redes img {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
}
.footer_redes img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

