.menu_login {
    background-image: url('https://wallpapercave.com/wp/wp3101272.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu_login .row{
    min-height: 100vh ;
    align-items: center;
    justify-content: center;
}